# -*- makefile -*-

.*.swp
.idea
/bbr
/bbsim
/bbsimctl
logs/*
/release
.DS_Store
*.logs
*.trace
.idea
sca-report/
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual envs
.venv/
docs/.venv/

# [EOF]
